@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  color: #313332;
}

section {
  padding: 60px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}

header {
  background: #fff;
  box-shadow: 0 5px 20px #f6f7fb;
  position: relative;
  z-index: 1;
}

nav.container {
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
}

.logo {
  margin-right: 30px;
}

.nav-links {
  display: flex;
  align-items: center;
  flex: 1;
}

.nav-list {
  padding: 0 30px;
  list-style: none;
}

.nav-list a {
  text-decoration: none;
  color: #939498;
}

.nav-list a:hover {
  color: #61b287;
}

.nav-action {
  display: flex;
  align-items: center;
}

.nav-action button {
  padding: 7px 15px;
  background: none;
  border: none;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 15px;
}

.nav-action button:hover {
  background: #61b287;
  color: #fff;
}

.nav-action .signup {
  border: 1px solid #939498;
}

.introduction {
  background: #f6f7fb;
}

.heading {
  font-size: 3rem;
  font-weight: 700;
}

.introduction__content p {
  padding: 30px 0;
  max-width: 40ch;
  color: rgba(0, 0, 0, 0.45);
}

.introduction__content-action {
  display: flex;
}

.introduction__content-action button {
  padding: 8px 25px;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 8px;
  border: none;
  background: transparent;
  font-size: 1rem;
}

.introduction__content-action .btn {
  background: #61b287;
  color: #fff;
}

.creation {
  background: #171739;
  color: #fff;
  text-align: center;
}

.secondary-heading {
  max-width: 300px;
  margin: 0 auto;
  font-weight: 700;
}

.creation-paragraph {
  color: rgba(255, 255, 255, 0.45);
  padding: 15px 0 30px;
}

.creation__content-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.creation__content-brand {
  width: 100px;
  height: 100px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #61b287;
  margin: 0 auto;
}

.creation__content-grid p {
  color: rgba(255, 255, 255, 0.45);
}

.creation__content-grid h3 {
  padding: 30px 0;
}
