@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  color: #313332;
}

section {
  padding: 60px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}

header {
  background: #fff;
  box-shadow: 0 5px 20px #f6f7fb;
  position: relative;
  z-index: 1;
}

nav.container {
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
}

.logo {
  margin-right: 30px;
}

.nav-links,
.nav-items {
  display: flex;
  align-items: center;
  flex: 1;
}

.nav-list {
  padding: 0 30px;
  list-style: none;
}

.nav-list a {
  text-decoration: none;
  color: #939498;
}

.nav-list a:hover {
  color: #61b287;
}

.nav-action {
  display: flex;
  align-items: center;
}

.nav-action button {
  padding: 7px 15px;
  background: none;
  border: none;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 15px;
}

.nav-action button:hover {
  background: #61b287;
  color: #fff;
}

.nav-action .signup {
  border: 1px solid #939498;
}

.hamburger {
  display: none;
}

.introduction {
  background: #f6f7fb;
}

.heading {
  font-size: 4.5rem;
  font-weight: 900;
  line-height: 1;
}

div.introduction {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.introduction__content p {
  padding: 30px 0;
  max-width: 40ch;
  color: rgba(0, 0, 0, 0.45);
}

.introduction__content-action {
  display: flex;
}

.introduction__content-action button {
  padding: 8px 25px;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 8px;
  border: none;
  background: transparent;
  font-size: 1rem;
  cursor: pointer;
}

button.btn {
  background: #61b287;
  color: #fff;
}

.introduction__images {
  position: relative;
  left: 100px;
  perspective: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.introduction__images {
  transform: scale3d(1, 1, 1) rotateZ(-17.5deg) rotateX(26deg);
  transform-style: preserve-3d;
}

.assets {
  grid-row: 1 / 3;
  grid-column: 2;
  align-self: center;
}

.creation {
  background: #171739;
  color: #fff;
  text-align: center;
}

.secondary-heading {
  max-width: 300px;
  margin: 0 auto;
  font-weight: 700;
}

.creation-paragraph {
  color: rgba(255, 255, 255, 0.45);
  padding: 15px 0 30px;
}

.creation__content-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.creation__content-brand {
  width: 100px;
  height: 100px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.brand__1 {
  background: #6181f2;
}

.brand__2 {
  background: #f8c049;
}

.brand__3 {
  background: #5db386;
}

.brand__4 {
  background: #6f4be1;
}

.creation__content-grid p {
  color: rgba(255, 255, 255, 0.45);
}

.creation__content-grid h3 {
  padding: 30px 0;
}

.works {
  background: #f6f7fb;
}

.work__content {
  display: grid;
  grid-template-columns: 0.7fr 1fr;
  align-items: center;
  padding: 60px 30px;
}

.to-edge {
  justify-self: end;
  order: 1;
}

.work__content > img {
  max-width: 100%;
}

.circle-brand {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.circle-brand img {
  width: 20px;
}

.work__description > p {
  padding: 30px 0;
  max-width: 40ch;
}

.work__description-info {
  display: flex;
  align-items: center;
}

.check {
  margin-right: 10px;
}

.work__description-info p {
  padding-bottom: 10px;
}

/* Tablet viewport */
@media (max-width: 880px) {
  div.introduction {
    grid-template-columns: 1fr;
  }

  .creation__content-grid {
    grid-template-columns: 1fr 1fr;
  }

  .logo {
    flex: 1;
  }

  .nav-items {
    flex: none;
  }

  .nav-links {
    background: #171739;
    position: absolute;
    top: 10vh;
    left: 0;
    width: 100%;
    height: 7vh;
    align-items: center;
  }

  .nav-links a {
    color: #fff;
  }

  .creation {
    text-align: left;
  }
  .secondary-heading,
  .creation__content-brand {
    margin: 0;
    max-width: none;
  }

  .creation__content-brand {
    width: 75px;
    height: 75px;
  }

  .creation__content h3 {
    padding: 10px 0;
    max-width: 200px;
  }

  .work__content {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    padding: 30px;
  }

  .work__description {
    padding: 20px 0;
  }
}

/* Mobile viewport */
@media (max-width: 567px) {
  .nav-items {
    background: #171739;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 10vh;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: 0.5s ease;
  }

  .nav-links {
    background: transparent;
    position: static;
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-items.active {
    height: initial;
    overflow: none;
    padding: 30px 15px;
  }

  .nav-list {
    padding: 15px;
  }

  .nav-action button {
    color: #fff;
    background: #61b287;
    border: none;
  }
  .hamburger {
    display: initial;
    margin-left: 30px;
    cursor: pointer;
  }

 .heading {
    font-size: 2.5rem;
    line-height: 1.3;
 } 

  .creation__content-grid {
    grid-template-columns: 1fr;
  }

  .creation__content {
    border: 2px solid rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 10px;
  }

  .to-edge {
    justify-self: start;
  }

  .order__1 {
    order: 1;
  }
}
